.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
        padding: 0 50px;
        box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
}
.cart-container,
.favorite-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 35px;
    position: relative;
}

.cart-counter {
    // position: absolute;
        //     color: #FF2A47;
        // font-size: 18px;
        //     font-weight: bold;
        // top: 10px;
    
        position: absolute;
        background-color: #FF2A47;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        color: white;
        padding: 6px;
        font-size: 12px;
        top: -4px;
        left: -4px;
        font-weight: bold;
}
        .favorite-counter {
            position: absolute;
            background-color: #FF2A47;
            height: 23px;
            width: 23px;
            border-radius: 50%;
            color: white;
        padding: 6px;
            font-size: 12px;
            top: -4px;
            left: -4px;
            font-weight: bold;
    
}

.header-title {
    font-size: 36px;
    font-weight: bold;
    margin: 15px;
    text-transform: uppercase;
    color: #FF2A47
}

.icon-wrapper {
    display: flex;
}